<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <div *ngIf="isLoginPage">
          <button class="p-link" type="button" (click)="back()">
            Register
          </button>
        </div>
        <div *ngIf="!isLoginPage">
          <button class="p-link" (click)="clickLoginPage()">
            Back to login
          </button>
        </div>

        <div>
          <app-login *ngIf="isLoginPage"></app-login>
          <app-register *ngIf="!isLoginPage"></app-register>
        </div>
      </div>
    </div>
  </div>
</div>
